.trending-near-you{
    @include maxWidth;
    margin-top: 10px !important;
    h1{
        font-size: 28px;
        color: lightcoral;
        text-align: center;
    }
    .trending-carousel{
        
        width: 1170px;
        margin-top: 20px;
        display: flex;
        height: 150px;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        .trending-element{
            position: relative;
            height: 100%;
            width: 220px;
            background: linear-gradient(#0009 , transparent);
            margin: 0 auto;
            p{
                width: 100%;
                font-size: 17px;
                padding: 5px 0 0 10px;
                color: #fff;
            }
            img{
                position: absolute;
                z-index: -1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
        
    }
}
