@mixin maxWidth {
    max-width: 1170px !important;
    margin: 0 auto !important;
}
@mixin Transition{
    transition: all 0.3s ease-in-out;
}
$BlueHover: rgb(118, 197, 223);
@import "scss/landing";
@import "scss/filter";
@import "scss/underFilter";
@import "scss/trendingANDcards";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 425px){

       // Filter
    .search-wrapper{
        flex:1;
    }
    .search-options{
        grid-template-rows: 6fr !important;
    }
    .search-border{
        grid-column: 1/10 !important;
    }
    .option-7{
        background-color: lightblue;
        @include Transition;
    }
    .option-7:hover{
        background-color: $BlueHover;
    }
    .search-by-btn{
        text-align: center;
        flex: 1;
    }
    .advanced-search{
        display: none;
    }
    .advanced-search-mobile{
        display: block;
        margin: 10px 0 0 20px;
    a{
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
    }  

    // Frame 
    .advertisment-wrapper{
        width: 80%;
    }
    .A-left-part{
        padding: 10px;
        flex: 3;
        a{
            display: inline-block;
            background-color: lightblue;
            padding: 3px 7px;
            font-size: 14px;
            margin: 10px 0 0 0;
            transform: scale(0.9);
            text-decoration: none;
            border-radius: 5px;
            color: #000;
        }
    }
    .A-left-part p:nth-of-type(1){
        font-weight: bold;
        font-size: 12px;
    }
    .A-left-part p:nth-of-type(2){
        font-size: 10px;
    }
    .A-right-part{
        flex: 1;
        img{
            width: 80px;
            height: 35px;
        }
    }
        // About cards

        
}

@media screen and (max-width: 1024px){

    // Small box & Landing text
    .landing-small-box-wrapper{
        margin-top: 180px !important;
        margin-right: 20px !important;
    }
    .landing-img-wrapper h1{
        margin-left: 20px;
    }


    // Landing
    .sign-upANDprofile{
        display: none;
    }
        nav .menu{
            display: none;
        }
    .burger{
        display: flex;
    }
    nav .logo{
        width: 100px;
        height: 40px;
        top: 50%;
    } 

    //Filter
    .filter{
        margin: 0 !important;
        height: fit-content;
        flex-direction: column;
        border-radius: 0;
    }
    .questions{
        border-left: none;
        border-top: 1px dotted lightgray;
        padding-top: 20px;
        margin-top: 40px;
    }
    .questions a{
        margin: 20px 0;
    }

    //Frame
    .A-right-part{
        img{
            margin: 0 10px;
        }
    }
}