@mixin maxWidth {
    max-width: 1170px !important;
    margin: 0 auto !important;
}
@mixin Transition{
    transition: all 0.3s ease-in-out;
}
$BlueHover: rgb(118, 197, 223);
$DarkRed: #2b1111;
@import "scss/landing";
@import "scss/filter";
@import "scss/underFilter";
@import "scss/trendingANDcards";
@import "scss/_SUVs-grid";
@import "scss/grid-cars";
@import "scss/with-make";
@import "scss/new-cars";
@import "scss/popular-searches";
@import "scss/footer";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hidden {
    display: block;
}
.arrow-none{
    display: none !important;
}
.arrow-block{
    display: block !important;
}












@media screen and (max-width: 425px){
    //Footer
    .hidden {
        display: none;
    }
    .footer-wrapper{
        h4{
            position: relative;
            border-bottom: 1px solid $DarkRed;
            padding: 15px 0;
            .arrow-down{
                top: 15px;
                display: block;
            }
            .arrow-up{
                top: 15px;
                transform: rotate(180deg);
            }
        }
        flex-direction: column;
        margin: 0 20px !important;
        .footer-nav{
            flex-direction: column;
            width: 100% !important;
            margin-bottom: 0 !important;
            ul{
                width: 100%;  
                margin-right: auto;
               li{
                margin: 20px 30px 0 20px !important;
                   list-style: none;
                   a{
                       text-decoration: none;
                       color: $DarkRed;
                   }
               }
            }
        }
        .footer-icons{
            margin-left: 80px;
            ul{
                float: left;
                li{
                    margin: 20px 15px 0 15px;
                    list-style: none;
                    float: right;
                    a{
                        svg{
                            fill: #0009;
                            path{
                                fill: #0009;
                            }   
                        }                   
                    }
                    a:hover{
                        svg{
                            fill: #000;
                            path{
                                fill: #000;
                            }   
                        }  
                    }
                }
                li:nth-child(4){
                    margin: 20px 15px 0 0;
                }
                }
               
        }
    }


    .under-footer-wrapper{
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
        .privacy{
            ul{
                column-count: 1;
                height: 100%;
                li{
                    margin: 20px 20px 0 20px;
                    width: 100%;
                    float: left;                   
                }
            }
        }
        .copyright{
            p{
                margin: 20px 0 20px 20px;
                margin-bottom: 20px;
                margin-left: 20px;
            }
        }
    }
    //Popular Searches
.popular-searches{
    ul{
        column-count: 1 !important;       
    }
}
  // JS and second row
  .new-cars-flex2{
    .new-cars-flex{
        margin-top: 0;
        width: 100% !important;
    }
}
    
    //Authors
    .new-cars-reveals{
        .new-cars-flex{
            margin-bottom: 0;
            .new-cars-element{
                border-bottom: 1px solid lightgray;
                padding-bottom: 20px;
                display: flex;
                align-items: center;
                img{
                    width: 45%;
                }
                p:nth-of-type(1){
                    margin-left: 20px;
                }
                p:nth-of-type(2){
                    display: none;
                }
                .author{
                    .buy{
                        display: none !important;
                    }
                    img{
                        display: none;
                    }
                }
            }  
        }
    }
    .new-cars-flex{
        flex-direction: column;
        .new-cars-element{
            width: 90% !important;
        }
    }

       // Filter
    .search-wrapper{
        flex:1;
    }
    .search-options{
        grid-template-rows: 6fr !important;
    }
    .search-border{
        grid-column: 1/10 !important;
    }
    .option-7{
        background-color: lightblue;
        @include Transition;
    }
    .option-7:hover{
        background-color: $BlueHover;
    }
    .search-by-btn{
        text-align: center;
        flex: 1;
    }
    .advanced-search{
        display: none;
    }
    .advanced-search-mobile{
        display: block;
        margin: 10px 0 0 20px;
    a{
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
    }  

    // Frame 
    .advertisment-wrapper{
        width: 80%;
    }
    .A-left-part{
        padding: 10px;
        flex: 3;
        a{
            display: inline-block;
            background-color: lightblue;
            padding: 3px 7px;
            font-size: 14px;
            margin: 10px 0 0 0;
            transform: scale(0.9);
            text-decoration: none;
            border-radius: 5px;
            color: #000;
        }
    }
    .A-left-part p:nth-of-type(1){
        font-weight: bold;
        font-size: 12px;
    }
    .A-left-part p:nth-of-type(2){
        font-size: 10px;
    }
    .A-right-part{
        flex: 1;
        img{
            width: 80px;
            height: 35px;
        }
    }
        // About cards

        .info-card{
            width: 360px;
            padding-right: 330px;
        }




    // Cars Grid
    .cars-grid{
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
    }
    .cars-grid-element-one{
        grid-column: 1/2;
    }
    .cars-grid-element-two{
        grid-column: 2/3;
    }
    .cars-grid-element-three{
        grid-column: 1/2;
    }
    .cars-grid-element-four{
        grid-column: 2/3;
    }
    .cars-element{
        margin: 10px auto !important;
    }

    // With Make

    .start-with-make{
        .with-make-uls{
            display: flex;
            width: 85%;
            margin: 0 auto;
        }
    }
    
}























@media screen and (max-width: 900px){
//Popular Searches
.popular-searches{
    h3{
        margin-left: 20px;
    }
    ul{
        column-count: 2;
        width: 100% ;
        margin: 20px 0 20px 20px;
        line-height: 30px;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: rgb(90, 90, 90);
            }
        }

    }
}


// JS advertisement and second row
.javascript-advertisment-wrapper{
    display: none;
}

    // PNG side
    .SUVs-grid{
        @include maxWidth;
        flex-direction: column;
    }
    .png-side{
        position: relative;
        width: 100%;
        text-align: left;
        img:nth-child(2){
            display: none;
        }
        
        .png-side-wrapper{
            margin-top: 10px;
            display: flex;
            align-items: center;
            padding: 20px 25px;
            width: 100%;
            float: left;
            margin-right: 0;
            img{
                width: 100px;
                height: 100px;
                margin-right: 20px;
            }
        }
    }
    // Grid side
    .grid-side{
        .grid-side-wrapper{
            margin: 10px 20px !important;
        }
        width: 100%;
        .SUVs-inline{
            .SUVs-element{
                width: 300px;
        }
    }
    
}












@media screen and (max-width: 1024px){
    //Footer 
    .footer-wrapper{
        margin-left: 20px !important;
        .footer-nav{
            width: 60%;
            margin-bottom: 50px;          
        }
        .footer-icons{
            margin-left: 30px;           
        }
    }
    // Authors

    .new-cars-element:nth-child(1){
        margin: 20px !important;
    }
    .new-cars-element:nth-child(2){
        margin: 20px !important;
    }



    // Tranding Carousel & App
    .trending-near-you{
        margin: 0 20px !important;
    }
    .info-cards-wrapper{
        padding-left: 20px !important;
    }


    // Small box & Landing text
    .landing-small-box-wrapper{
        margin-top: 180px !important;
        margin-right: 20px !important;
    }
    .landing-img-wrapper h1{
        margin-left: 20px;
    }
    .info-cards-wrapper::-webkit-scrollbar {
        display: inline !important;
    }

    // Landing
    .sign-upANDprofile{
        display: none;
    }
        nav .menu{
            display: none;
        }
    .burger{
        display: flex;
    }
    nav .logo{
        width: 100px;
        height: 40px;
        top: 50%;
    } 

    //Filter
    .filter{
        margin: 0 !important;
        height: fit-content;
        flex-direction: column;
        border-radius: 0;
    }
    .questions{
        border-left: none;
        border-top: 1px dotted lightgray;
        padding-top: 20px;
        margin-top: 40px;
    }
    .questions a{
        margin: 20px 0;
    }

    //Frame
    .A-right-part{
        img{
            margin: 0 10px;
        }
    }

}
}
