@mixin maxWidth {
    max-width: 1170px !important;
    margin: 0 auto !important;
}
@mixin Transition{
    transition: all 0.3s ease-in-out;
}
$BlueHover: rgb(118, 197, 223);
@import "scss/landing";
@import "scss/filter";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 425px){

       // Filder
    .search-wrapper{
        flex:1;
    }
    .search-options{
        grid-template-rows: 6fr !important;
    }
    .search-border{
        grid-column: 1/10 !important;
    }
    .option-7{
        background-color: lightblue;
        @include Transition;
    }
    .option-7:hover{
        background-color: $BlueHover;
    }
    .search-by-btn{
        text-align: center;
        flex: 1;
    }
    .advanced-search{
        display: none;
    }
    .advanced-search-mobile{
        display: block;
        margin: 10px 0 0 20px;
    a{
        color: #fff;
        cursor: pointer;
        text-decoration: none;
    }
    }  
}

@media screen and (max-width: 1023px){

    // Small box & Landing text
    .landing-small-box-wrapper{
        margin-top: 180px !important;
        margin-right: 20px !important;
    }
    .landing-img-wrapper h1{
        margin-left: 20px;
    }


    // Landing
    .sign-upANDprofile{
        display: none;
    }
        nav .menu{
            display: none;
        }
    .burger{
        display: flex;
    }
    nav .logo{
        width: 100px;
        height: 40px;
        top: 50%;
    } 

    //Filter
    .filter{
        margin: 0 !important;
        height: fit-content;
        flex-direction: column;
    }
    .questions{
        border-left: none;
        border-top: 1px dotted lightgray;
        padding-top: 20px;
        margin-top: 40px;
    }
    .questions a{
        margin: 10px 0;
    }
}