.burger {
  cursor: pointer;
  width: 40px;
  height: 30px;
  margin: 10px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.burger .burger-line {
  margin: auto 0;
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.burger-close {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 30px;
  margin: 0px 10px 10px 171px;
}

.burger-close .burger-line {
  position: absolute;
  left: 12%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: auto 0;
  width: 30px;
  height: 2px;
  background-color: #000;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.burger-close .burger-line:nth-child(1) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burger-close .burger-line:nth-child(2) {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 30px 30px 30px;
  width: 250px;
  position: fixed;
  right: 0;
  z-index: 1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
}

.mobile-menu a {
  color: #000;
  text-decoration: none;
}

.mobile-sign-up {
  margin-top: 20px;
}

.mobile-sign-up .mobile-sign-up-btn {
  text-align: center;
  display: block;
  background-color: lightcoral;
  padding: 15px;
  margin: 20px 0;
  color: #fff;
  text-decoration: none;
  border-radius: 15px;
}

.mobile-profile {
  margin: 15px 0;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.mobile-profile p {
  margin: 15px 0;
}

.mobile-burger-menu p {
  margin: 15px 0;
}

.landing {
  position: relative;
}

.navigation-bar {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: lightcoral;
}

nav {
  position: relative;
  max-width: 1170px !important;
  margin: 0 auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  position: absolute;
  top: 75%;
  left: 0;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: 0 auto 0 10px;
  width: 155px;
  height: 65px;
}

nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .menu .menu-item {
  text-decoration: none;
  font-weight: 400;
}

nav .menu .menu-item li {
  padding: 15px;
  list-style: none;
  color: #fff;
}

nav .menu-item:hover {
  background-color: lavender;
}

nav .menu-item:hover li {
  color: lightcoral;
}

.sign-upANDprofile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sign-upANDprofile .sign-up {
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 7px;
  margin: 0 10px;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.sign-upANDprofile .sign-up:hover {
  background-color: #fff;
  color: lightcoral;
}

.sign-upANDprofile .profile {
  margin: 0 10px;
  height: 30px;
  width: 30px;
  fill: #fff;
}

.moto {
  height: 30px;
  width: 100%;
  background-color: lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.landing-img {
  height: 450px;
  position: relative;
  z-index: 1;
  background-position: 50% 85%;
  background-image: url("images/landingCar.jpg");
  background-size: cover;
}

.landing-img-wrapper {
  max-width: 1170px !important;
  margin: 0 auto !important;
}

.landing-img-wrapper h1 {
  background: -webkit-gradient(linear, left top, right top, from(lightcoral), color-stop(#22b5e6), color-stop(lightgray), to(lightblue));
  background: linear-gradient(to right, lightcoral, #22b5e6, lightgray, lightblue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 60px;
  padding-top: 30px;
}

.landing-small-box-wrapper {
  max-width: 1170px !important;
  margin: 0 auto !important;
  margin-top: 80px !important;
}

.landing-small-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin-left: auto;
  background-color: #0009;
  width: 180px;
  font-size: 14px;
  height: 80px;
}

.landing-small-box p {
  width: 100%;
  padding-right: 10px;
  margin: 2px 0;
}

.landing-small-box a {
  color: #fff;
  cursor: pointer;
}

.filter {
  max-width: 1170px !important;
  margin: 0 auto !important;
  position: relative;
  z-index: 2;
  height: 210px;
  margin-top: -100px !important;
  background-color: lightcoral;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.advanced-search-mobile {
  display: none;
}

select {
  font-size: 16px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.search-options1 {
  display: -ms-grid;
  display: grid;
  line-height: 1.5;
  -ms-grid-columns: (1fr)[9];
      grid-template-columns: repeat(9, 1fr);
  -ms-grid-rows: 50px 50px;
      grid-template-rows: 50px 50px;
  margin: 0 20px;
}

.search-border {
  position: relative;
  border: 1px solid lightgray;
  background-color: #fff;
  padding: 10px;
  cursor: pointer;
}

.option-1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.option-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}

.option-2 .options:nth-child(1) {
  display: none;
}

.option-3 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
}

.option-4 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.option-5 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
}

.option-6 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 1;
  grid-column: 6/7;
}

.option-6 input {
  font-size: 16px;
  outline: none;
}

.option-6-additional {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  grid-column: 4/7;
}

.option-6-additional input {
  font-size: 16px;
  outline: none;
}

.option-7 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 3;
  grid-column: 7/10;
  padding: 0 !important;
}

.option-7 .search-btn {
  cursor: pointer;
  font-weight: bold;
  color: #000;
  border: none;
  width: 100%;
  height: 100%;
  background-color: lightblue;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.option-7 .search-btn:hover {
  background-color: #76c5df;
}

.Search-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.search-by {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-wrapper .svg-wrapper {
  position: relative;
  width: 100%;
}

.search-wrapper .svg-wrapper img {
  position: absolute;
  top: -40%;
  left: 50%;
  -webkit-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}

.search-by-btn {
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  padding: 7px 12px;
}

.search-btn1 {
  background-color: #fff;
  color: #000;
}

.search-btn2 {
  background-color: lightcoral;
  color: #fff;
}

.search-by-btn:hover {
  background-color: #fff !important;
  color: #000 !important;
}

.advanced-search {
  margin-left: auto;
  margin-top: auto;
}

.advanced-search a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.advanced-search a:hover {
  text-decoration: underline;
}

.questions {
  border-left: 1px dotted lightblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.questions a {
  padding: 10px 40px;
  margin-top: 10px;
  background-color: lightblue;
  color: #000;
  text-decoration: none;
  border-radius: 15px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.questions a:hover {
  background-color: #76c5df;
}

.questions p {
  margin: 0 30px;
}

.questions h1 {
  margin: 0 20px;
  font-size: 30px;
}

.small-advertisment {
  max-width: 1170px !important;
  margin: 0 auto !important;
}

.advertisment-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70%;
  margin: 20px auto;
  border: 1px solid #000;
  cursor: pointer;
  background-color: lightblue;
}

.A-left-part {
  padding: 20px;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  background-image: url("images/carousel1.jpg");
  background-position: 30% , 50%;
  color: #000;
}

.A-left-part a {
  display: inline-block;
  background-color: lightblue;
  padding: 5px 10px;
  margin: 10px 0;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  text-decoration: none;
  border-radius: 5px;
  color: #000;
}

.A-left-part p:nth-of-type(1) {
  font-weight: bold;
  font-size: 19px;
}

.A-left-part p:nth-of-type(2) {
  font-size: 17px;
}

.A-right-part {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.A-right-part img {
  display: block;
  margin: 0 auto;
  width: 155px;
  height: 65px;
}

.trending-near-you {
  max-width: 1170px !important;
  margin: 0 auto !important;
  margin-top: 10px !important;
}

.trending-near-you h1 {
  font-size: 28px;
  color: lightcoral;
  text-align: center;
}

.trending-near-you .trending-carousel {
  width: 1170px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.trending-near-you .trending-carousel .trending-element {
  position: relative;
  height: 100%;
  width: 220px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0009), to(transparent));
  background: linear-gradient(#0009, transparent);
  margin: 0 auto;
}

.trending-near-you .trending-carousel .trending-element p {
  width: 100%;
  font-size: 17px;
  padding: 5px 0 0 10px;
  color: #fff;
}

.trending-near-you .trending-carousel .trending-element img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (max-width: 425px) {
  .search-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .search-options {
    -ms-grid-rows: 6fr !important;
        grid-template-rows: 6fr !important;
  }
  .search-border {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 9 !important;
    grid-column: 1/10 !important;
  }
  .option-7 {
    background-color: lightblue;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .option-7:hover {
    background-color: #76c5df;
  }
  .search-by-btn {
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .advanced-search {
    display: none;
  }
  .advanced-search-mobile {
    display: block;
    margin: 10px 0 0 20px;
  }
  .advanced-search-mobile a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  .advertisment-wrapper {
    width: 80%;
  }
  .A-left-part {
    padding: 10px;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .A-left-part a {
    display: inline-block;
    background-color: lightblue;
    padding: 3px 7px;
    font-size: 14px;
    margin: 10px 0 0 0;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
    text-decoration: none;
    border-radius: 5px;
    color: #000;
  }
  .A-left-part p:nth-of-type(1) {
    font-weight: bold;
    font-size: 12px;
  }
  .A-left-part p:nth-of-type(2) {
    font-size: 10px;
  }
  .A-right-part {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .A-right-part img {
    width: 80px;
    height: 35px;
  }
}

@media screen and (max-width: 1024px) {
  .landing-small-box-wrapper {
    margin-top: 180px !important;
    margin-right: 20px !important;
  }
  .landing-img-wrapper h1 {
    margin-left: 20px;
  }
  .sign-upANDprofile {
    display: none;
  }
  nav .menu {
    display: none;
  }
  .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .logo {
    width: 100px;
    height: 40px;
    top: 50%;
  }
  .filter {
    margin: 0 !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0;
  }
  .questions {
    border-left: none;
    border-top: 1px dotted lightgray;
    padding-top: 20px;
    margin-top: 40px;
  }
  .questions a {
    margin: 10px 0;
  }
  .A-right-part img {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=index.css.map */